<section class="single-model">
    <div class="container">
        <div class="single-model__inner">
            <h2 class="single-model__title">KAMILLA ZHUKOVA</h2>
            <div class="single-model__links">
                <a href="" class="single-model__links-item">PORTFOLIO</a>
                <a href="" class="single-model__links-item">DIGITALS</a>
                <a href="" class="single-model__links-item">FOLLOW</a>
                <a href="" class="single-model__links-item">PDF</a>
            </div>
            <div class="single-model__parameters">
                <p class="single-model__parameter">HEIGHT <strong>170</strong></p>
                <p class="single-model__parameter">B <strong>80</strong></p>
                <p class="single-model__parameter">W <strong>59</strong></p>
                <p class="single-model__parameter">H <strong>90</strong></p>
                <p class="single-model__parameter">SHOES <strong>38</strong></p>
                <p class="single-model__parameter">HAIR <strong>Blond</strong></p>
                <p class="single-model__parameter">EYES <strong>Blue</strong></p>
            </div>
            <div class="single-model__img">
                <img src="images/model-3.jpg" alt="">
            </div>
            <div class="single-model__gallery">
                <div class="single-model__gallery-item">
                    <img src="images/model-3-1.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-2.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-3.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-4.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-5.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-6.jpg" alt="">
                </div>
                <div class="single-model__gallery-item ">
                    <img src="images/model-3-7.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-8.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-9.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-3-10.jpg" alt="">
                </div>
                <div class="single-model__gallery-item single-model__gallery-big">
                    <img src="images/model-3-11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>