<section class="single-model">
    <div class="container">
        <div class="single-model__inner">
            <h2 class="single-model__title">VALERIE U</h2>
            <div class="single-model__links">
                <a href="" class="single-model__links-item">PORTFOLIO</a>
                <a href="" class="single-model__links-item">DIGITALS</a>
                <a href="" class="single-model__links-item">FOLLOW</a>
                <a href="" class="single-model__links-item">PDF</a>
            </div>
            <div class="single-model__parameters">
                <p class="single-model__parameter">HEIGHT <strong>171</strong></p>
                <p class="single-model__parameter">B <strong>85</strong></p>
                <p class="single-model__parameter">W <strong>63</strong></p>
                <p class="single-model__parameter">H <strong>92</strong></p>
                <p class="single-model__parameter">SHOES <strong>39</strong></p>
                <p class="single-model__parameter">HAIR <strong>BLACK</strong></p>
                <p class="single-model__parameter">EYES <strong>Brown</strong></p>
            </div>
            <div class="single-model__img">
                <img src="images/model-2.jpg" alt="">
            </div>
            <div class="single-model__gallery">
                <div class="single-model__gallery-item">
                    <img src="images/model-2-1.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-2.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-3.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-4.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-5.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-6.jpg" alt="">
                </div>
                <div class="single-model__gallery-item ">
                    <img src="images/model-2-7.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-2-8.jpg" alt="">
                </div>
                <div class="single-model__gallery-item single-model__gallery-big">
                    <img src="images/model-2-9.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>