<section class="single-model">
    <div class="container">
        <div class="single-model__inner">
            <h2 class="single-model__title">ARINA GORDOVSKAYA</h2>
            <div class="single-model__links">
                <a href="" class="single-model__links-item">PORTFOLIO</a>
                <a href="" class="single-model__links-item">DIGITALS</a>
                <a href="" class="single-model__links-item">FOLLOW</a>
                <a href="" class="single-model__links-item">PDF</a>
            </div>
            <div class="single-model__parameters">
                <p class="single-model__parameter">HEIGHT <strong>175</strong></p>
                <p class="single-model__parameter">B <strong>81</strong></p>
                <p class="single-model__parameter">W <strong>62</strong></p>
                <p class="single-model__parameter">H <strong>90</strong></p>
                <p class="single-model__parameter">SHOES <strong>38</strong></p>
                <p class="single-model__parameter">HAIR <strong>ginger</strong></p>
                <p class="single-model__parameter">EYES <strong>brown</strong></p>
            </div>
            <div class="single-model__img">
                <img src="images/model-5.jpg" alt="">
            </div>
            <div class="single-model__gallery">
                <div class="single-model__gallery-item">
                    <img src="images/model-5-1.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-2.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-3.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-4.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-5.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-6.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-7.jpg" alt="">
                </div>
                <div class="single-model__gallery-item">
                    <img src="images/model-5-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>