@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/Helvetica Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueMedium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Utah';
    src: url('../fonts/UtahCondensedBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'BB Regular';
    src: url('../fonts/BBText-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'BB Bold';
    src: url('../fonts/BB-CondBold.ttf');
    font-weight: 700;
}