
@media screen and (max-width:1405px) {
    
    .single-model__gallery{
        width: auto;
    }
    .single-model__gallery-big{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:1395px) {
    .models__items{
        justify-content: center;
        // width: calc((100% / 4) - 48px);
    }
    
    .single-model__gallery-big{
        width: 100%;
        height: 100%;
    }
    .about__inner{
        width: 80%;
    }
}
@media screen and (max-width:1020px) {
    .contacts{
        background-position: 180%;
    }
    .casting__inner{
        width: 90%;
    }
}
@media screen and (max-width:816px) {
    .header__nav{
        // display: none;
        position: absolute;
        width: 100%;
        background-color: #fff;
        left: 0;
        top:72px;
        justify-content: center;
        // align-items: center;
        overflow: hidden;
        height: 0;
        opacity: 0;
        z-index: 10;
        transition: opacity .3s ease-out;
        & ul{
            // width: 100%;
            // overflow-y: auto;
            flex-direction: column;
            align-items: center;
            margin-top: 84px;
        }
    }
    .search{
        display: none;
        z-index: 10;
    }
    .header__socials{
        display: none;
    }
    .mobile-nav-icons{
        display: flex;
        gap: 20px;
    }
    .header__nav ul li a{
        font-size: 20px;
    }
    .single-model__gallery-item {
        // width: 37%;
        
    }
    .single-model__links{
        display: none;
    }
    .single-model__parameters{
        flex-wrap: wrap;
    }
    .contacts{
        background-image: unset !important;
        padding-bottom: 284px;
        height: auto;
    }
    .about__inner{
        width: 100%;

    }
    .about__title{
        text-align: center;
    }
    .contacts__title{
        text-align: center;
    }
    .casting__inner{
        width: 100%;
        border: none;
        padding: 66px 62px 112px 62px;
    }
}
@media screen and (max-width:735px){
    .single-model__gallery{
        width: auto;
    }
    .single-model__gallery-item {
    
    }
}
@media screen and (max-width:548px) {
    .models__items{
        gap: 37px 26px;
    }
    .models__item{
        width: 154px;
    }
    .models__item-img{
        height: 208px;
    }
    .models{
        padding-top: 59px;
    }
    
    .single-model__gallery{
        gap: 20px 15px;
    }
    .single-model__img img{
        width: 100%;
        height: 100%;
    }
    .single-model__gallery{
        margin-top: 24px;
    }
    .single-model__gallery-item{
        width: calc((100% / 2) - 8px);
    }
    .single-model{
        padding-top: 31px;
        padding-bottom: 178px;
    }
    .single-model__title{
        font-size: 35px;
    }
    .single-model__parameter{
        font-size: 14px;
    }
    .single-model__parameters{
        gap: 0 30px;
    }
    .contacts-page{
        .container{
            padding: 0 22px 0 44px;
        }
    }
    .about-ru{
        padding: 64px 0 50px 0 ;
    }
    .about-en{
        padding: 43px 0 111px 0;
    }
    .about__title{
        font-size: 35px;
        margin-bottom: 37px;
    }
    .about__info p{
        font-size: 12px;
        line-height: 14px;
    }
    .casting__inner{
        padding: 64px 0px 193px 0px;
    }
    .casting__title{
        text-align: center;
    }
    .casting__descr{
        text-align: left;
        margin-top: 38px;
        line-height: 14px;
        font-size: 12px;
    }
    .casting__form{
        margin-top: 28px;
    }
    .casting__form-title{
        font-size: 22px;
    }
    .casting__form-descr{
        margin-top: 10px;
        font-size: 12px;
        line-height: 13px;
    }
    .casting__form-item input{
        margin-top: 17px;
    }
    .casting__form-item{
        margin-bottom: 36px;
    }
    .casting__form-btn{
        margin: 81px auto 0 auto;   
    }
    .casting-page .casting{
        .container{
            padding: 0 44px;
        }
    }
}
@media screen and (max-width:440px) {
    .hero{
        height: 42.5rem;
        background-position: 32%;
    }
  
}