<section style="background-image: url(images/contacts.jpg);" class="contacts">
    <div class="container">
        <div class="contacts__inner">
            <h2 class="contacts__title">CONTACT</h2>
            <div class="contacts__info">
                <a href="mailto:vii.kazaan@gmail.com">vii.kazaan@gmail.com</a>
            </div>
            <div class="contacts__socials">
                <a href="" class="contacts__socials-item">
                    <img src="images/facebook.svg" alt="">
                </a>
                <a href="" class="contacts__socials-item">
                    <img src="images/inst.svg" alt="">
                </a>
                <a href="" class="contacts__socials-item">
                    <img src="images/tg.svg" alt="">
                </a>
            </div>
        </div>


    </div>
</section>