<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <img src="images/logo.svg" alt="">
                <!-- <span>MODELS</span> -->
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">MODELS</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">BECOME A MODEL</a></li>
                </ul>
                <div class="header__socials">
                    <div class="header__socials-item">
                        <a href=""><img src="images/facebook.svg" alt=""></a>

                    </div>
                    <div class="header__socials-item">
                        <a href=""><img src="images/inst.svg" alt=""></a>
                    </div>
                    <div class="header__socials-item">
                        <a href=""><img src="images/tg.svg" alt=""></a>
                    </div>
                </div>
            </nav>
            <div class="mobile-nav-icons">
                <div class="mobile-search-icon">
                    <img src="images/search-icon.svg" alt="">
                </div>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="close-search">
                    <img src="images/close-search.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="search">
    <div class="container">
        <form class="search__wrapper search__form">
            <img src="images/search-icon.svg" alt="">
            <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?">
        </form>
    </div>
    <div class="search__result">
        <h2 class="search__result-title">MOST SEARCHED</h2>
        <div class="search__result-items">
            <div class="models__item">
                <div class="models__item-img">
                    <a href="">
                        <img src="images/model-4.jpg" alt="">
                    </a>
                </div>
                <a href="">
                    <h2>POLINA BLOHINA</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>